body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

link[rel=icon] {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #02797f, #043d40);
  background-size: cover;
  height: 100vh;
  margin: 0;
}

#visualizer {
  margin-left: 6vh;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4.375vh;
  height: 80vh;
  width: 76vw;
  overflow: hidden;
  background-color: #232D3F;
}

#main {
  max-height: 80vh;
  width: 22vw;
  background-color: #232D3F;
  padding: 0vw 0vw 0vw 0vw;
  margin: 0;
  background: #232D3F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#side {
  flex: 1;
  background-color: #1a1a1a;
  padding: 1.3125rem 1.5vh 8.75vh 4.375vh;
  margin-left: 0vw;
  margin-right: 0;
  border-radius: 4.375vh;
  background: #1a1a1a;
  flex-basis: 30%;
  color: #ffffff;
}

.profile-picture {
  width: 12vw;
  height: 12vw;
  background-image: url("../assets/photo.png");
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 0.625vh rgba(0, 0, 0, 0.5);
  border: 0.125vh solid #000;
  margin: 1vw auto 1vw;
}

h1 {
  font-size: 16vh;
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 2.75vh;
  line-height: 1.6;
  color: #ffffff;
}

/* Rest of your CSS remains the same */
/* Remove spinners from number input fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox, which uses a different style */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

header {
  margin-top: 0.5vh;
  width: 100%;
  text-align: center;
}

.name, .title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 0;
}

.name {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.hometitle {
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: normal;
  color: #03ce2f;
  opacity: 1;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.6vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.links svg {
  width: 3vh;
  height: 3vh;
  fill: white;
  transition: fill 0.5s;
}

.links svg:hover {
  fill: #03ce2f;
}

.download {
  text-align: center;
  margin-top: 3vw;
}

.download a {
  margin-top: 1.1vw;
  margin-bottom: 2vw;
  display: inline-block;
  padding: 0.625vh 2.5vh;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  border: 0.176vh solid #ffffff;
  border-radius: 2.5vh;
  transition: background-color 0.3s;
}

.download a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab {
  padding: 0.625vh;
  margin-bottom: 0.625vh;
  color: #ffffff;
  cursor: pointer;
}

.tab svg {
  width: 4vh;
  height: 4vh;
  fill: white;
  transition: fill 0.5s;
}

.tab svg:hover {
  fill: #03ce2f;
}

.home.content.active {
  margin: 0rem;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.home.content.active h1 {
  margin-right: 2.3vh;
  font-size: 4vw;
}

.content {
  display: none;
}

.active {
  display: block;
}

.tab-sidebar {
  gap: 0.7vw;
  width: 4vw;
  margin-left: 1vh;
  padding-top: 1.2vh;
  padding-bottom: 0.7vh;
  border-radius: 6.25vh;
  background-color: #232D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 0.7vw;
  width: 4vw;
  margin-top: auto;
  margin-left: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1.5vh;
  padding-bottom: 0.7vh;
  border-radius: 6.25vh;
  position: relative;
  top: 0;
  background-color: #232D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  margin-left: 1vh;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  margin-left: 2vh;
  min-height: 80vh;
  border-radius: 4.375vh;
  height: 80vh;
  overflow: hidden;
  background-color: transparent;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

@keyframes rollUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes rollDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.roll-up {
  animation: rollUp 0.5s ease-in-out forwards;
}

.roll-down {
  animation: rollDown 0.5s ease-in-out forwards;
}

.about.content.active {
  margin-right: 0px; /* Add space for the scrollbar */
  max-height: 80vh;
  width: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.about.content.active .col {
  font-family: "Poppins", sans-serif;
  color: accc;
  flex: 1;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.about.content.active .details {
  flex: 1;
  padding: 0.4vw;
  background-color: transparent;
  border-radius: 10px;
}

.details {
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  margin-top: 8.3vw;
  display: flex;
  flex-direction: column;
}

.details span {
  font-weight: bold;
  color: #03ce2f;
}

.details p {
  line-height: 0.5;
  font-size: 1.1vw;
}

.spec {
  margin-bottom: 1vw;
}

.about.content.active .col h2 {
  color: #ffffff;
  font-size: 2.5vw;
  margin-bottom: 0vw;
}

.about.content.active .col span {
  color: #03ce2f;
}

.about.content.active .col .bio {
  word-spacing: 0.2vw;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  line-height: 1.6;
  margin: 2vw auto 0;
}

.do {
  font-family: "Poppins", sans-serif;
  font-size: 0.1vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
}

.do h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7VW !important; /* Adjust the font size to your preference */
  color: #ffffff; /* Adjust the color to your preference */
}

.do span {
  color: #03ce2f; /* Adjust the color to your preference */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
  grid-gap: 10px; /* Spacing between grid items */
  width: 200%;
}

.grid-item {
  background-color: transparent;
  padding: 1vw 0 1vw 1vw;
  text-align: left;
}

.grid-item h3 {
  text-align: left;
  margin: 0 0;
  font-size: 1.3VW !important;
}

.grid-item svg {
  width: 3vw;
  height: 3vw;
  fill: #03ce2f;
}

.grid-item p {
  margin-top: 0.3vw;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 1.2;
  font-size: 1vw;
}

.about.content.active::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.about.content.active::-webkit-scrollbar-track {
  width: 20px;
  background: transparent; /* Set the background color of the track */
}

.about.content.active::-webkit-scrollbar-track:hover {
  transition: 1s;
  border-radius: 10px;
  width: 20px;
  background: #232D3F; /* Set the background color of the track */
}

.about.content.active::-webkit-scrollbar-thumb:hover {
  background-color: #03ce2f;
}

.about.content.active::-webkit-scrollbar-thumb {
  background-color: #232D3F;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

/*# sourceMappingURL=styles.css.map */
