$primary: #1b1b1b;
$secondary: #232D3F;
$accents: #005B41;
$text: #ffffff;
$Poppins: 'Poppins', sans-serif;

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #005B41, #008170); /* Replace with your desired colors */
  height: 100vh;
  margin: 0;
}

#visualizer {
  margin-left: 99px; /* Adjust the value as needed */
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px; /* Add rounded corners */
  height: 80vh; /* Increase height */
  width: 73.5vw; /* Increase width */
  overflow: hidden; /* Prevent content overflow */
  background-color: $secondary;
}

#main {
  width: 400px;
  background-color: $secondary;
  padding: 50px 40px 100px 60px; /* Add padding as needed */
  margin: 0;
  background: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding in total width and height */
}

#side {
  flex: 1;
  background-color: $primary;
  padding: 30px 100px 100px 100px;
  margin-left: 20px;
  border-radius: 35px;
  background: $primary;
  flex-basis: 30%; /* Set the initial width of side to 30% */
  color: $text;
}

/* Add this CSS to your styles.css file */

.profile-picture {
  width: 200px;
  height: 200px;
  background-image: url('../assets/photo.png'); /* Add the path to your profile picture */
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #000; /* Adjust color and size of the border as needed */
  margin: 0 auto 20px; /* Center the profile picture and add some margin */
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $text; /* Adjust color as needed */
}

p {
  font-family: $Poppins;
  font-size: 1.1rem;
  line-height: 1.6;
  color: $text;
}


/* Remove spinners from number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox, which uses a different style */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

header{
  margin-top: 10px;
  width: 100%; /* Make the header element fill the available space */
  text-align: center; /* Center the content within the header */
}

.name, .title {
  font-family: 'Poppins', sans-serif;
  color: $text;
  margin: 0;

}


.name {
  text-align: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem; /* This will make the font size double that of the default size */
  font-weight: bold; /* Optionally, make the name bold */
}

.title {
  text-align: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7); /* Adjust the last value (0.7) for the desired opacity */
}



.links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add spacing between the icons */
  margin-top: 20px; /* Add some top margin for separation */
}

.links svg {
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  fill: white; /* Set the color of the SVG */
  transition: fill 0.3s;
}

.links svg:hover {
  fill: #c1ff72; /* Change the color on hover */
}

.download {
  text-align: center;
  margin-top: 80px;
}

.download a {
  display: inline-block;
  padding: 10px 40px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
  border: 2px solid #ffffff;
  border-radius: 40px; /* Adjust the radius for rounded corners */
  transition: background-color 0.3s;
}

.download a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.tab-sidebar {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 7px;
  border-radius: 100px;
  position: relative;
  top: -164px; /* Adjust this value to shift the sidebar up or down */
  width: 78px; /* Set the width of the sidebar */
  background-color: #232D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab {
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}


.links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add spacing between the icons */
  margin-top: 20px; /* Add some top margin for separation */
}


.tab svg {
  width: 33px; /* Adjust the width as needed */
  height: 33px; /* Adjust the height as needed */
  fill: white; /* Set the color of the SVG */
  transition: fill 0.3s;
}

.tab svg:hover {
  fill: #c1ff72; /* Change the color on hover */
}